<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>pikrunch - hold on to your memories</title>
  {% load static %} {% load crispy_forms_tags %}

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'printona/bootstrap.css' %}" />

  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" href="{% static 'printona/font-awesome.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'printona/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'printona/stylish-portfolio.css' %}" />


</head>

<body id="page-top">
  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#quotation">Quotation</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">picrunch</h1>
      <h3 class="mb-5">
          <em>We print your photos and mail them to you.</em>
        </h3>
      <a href="#services" class="js-scroll-trigger btn btn-xl btn-light mr-4">How it works</a>
      <a href="#quotation" class="js-scroll-trigger btn btn-xl btn-dark">Get Started</a>

    </div>
    <div class="overlay"></div>
  </header>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">How it works</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
          <h4>
              <strong>Upload</strong>
            </h4>
          <p class="text-faded mb-0">Upload your photos on the site!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
          <h4>
              <strong>Get Quote</strong>
            </h4>
          <p class="text-faded mb-0">Quote for size, quantity and quality.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
          <h4>
              <strong>Pay</strong>
            </h4>
          <p class="text-faded mb-0">Pay for the service and postage</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
          <h4>
              <strong>Get Photos</strong>
            </h4>
          <p class="text-faded mb-0">Receive your piks in the mail.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <!-- <h4 class="mx-auto mb-5">We do <em>one</em> thing and we do it well!</h4> -->
      <h1>We print your photos and mail them to you!</h1>
      <p class="lead mb-5">No Sign up. No Hidden Costs. No Bullshit.</p>
      <a class="js-scroll-trigger btn btn-primary btn-xl" href="#quotation">Get started</a>
    </div>
  </section>


  <!-- Quotation -->
  <section class="content-section" id="quotation">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">quotation</h3>
        <h2 class="mb-5">Upload your photos</h2>
      </div>

      <div class="container" id="product-section">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div id="list"></div>
              <label class="btn btn-block btn-info btn-sm" id="uplo">
                Upload Picture <input type="file" id="files" style="display: none;">
              </label>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <select class="custom-select form-control form-control-sm" id="Size" name="sizes">
                <option selected>Photo Size (mm)</option>
                  {% for item in price_list.all %}
                <option value="{{ item.id }}">{{ item.length }} x {{ item.width }}</option>
                  {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <input type="number" class="form-control form-control-sm" id="Quantity" name="quantities" placeholder="Quantity">
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-danger btn-md btn-block"> Discard Picture</button>
            </div>
          </div>
</div>

</div>


        </div> <!--end row -->
      </div> <!--end product section div -->



    </div><!--close container>


    <!--start form-->
    <!-- <form action="{% url 'quote' %}" method="post" enctype="multipart/form-data">
        {% crispy upload_photos_form upload_photos_form.helper %}
      </form> -->
    <!--end form-->


  </section>


  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>

      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-instagram"></i>
            </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Printona Tangibles 2017</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'printona/jquery.min.js' %}"></script>
  <script src="{% static 'printona/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'printona/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'printona/stylish-portfolio.js' %}"></script>
  <script src="{% static 'printona/accordian.js' %}"></script>

  <script type="text/javascript">
    document.getElementById('files').addEventListener('change', handleFileSelect, false);

    function handleFileSelect(evt) {
      var files = evt.target.files;
      var f = files[0];
      var reader = new FileReader();

      reader.onload = (function(theFile) {
        return function(e) {
          document.getElementById('list').innerHTML = ['<img src="', e.target.result, '" title="', theFile.name, '" class="img-thumbnail" />'].join('');
          document.getElementById('uplo').setAttribute("style", "display:none;");
        };
      })(f);

      reader.readAsDataURL(f);
    }
  </script>


</body>

</html>
